extend layout

block content
    main.container.justify-content-center
        .row.mt-md-5
            .container.col-md-6.d-none.d-md-block.bg-success.mt
            .col-md-6
                .row
                    .col-md-12
                        div(class="container col-10 bg-secondary justify-content-left py-2 mt-4 mt-md-0")
                            div(class="col-12 hide-overflow")
                                h2(class="text-center") Vad är
                                h2(class="text-center") Bildterapihuset?
                            div(class="col-12 hide-overflow")
                                p(class="") Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, Lorem ipsum dolor sit amet, consectetuer adipiscing elit 
                            div(class="col-12")
                                a(class="h6" href="#redme")
                                    u Läs Mer
                .row
                    .col-md-12.d-none.d-md-block.justify-content-center
                        .container.col-md-10.bg-success.mt-3
                             div(class="col-12 hide-overflow")
                                p(class="mb-0") Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, Lorem ipsum dolor sit amet, consectetuer adipiscing elit 
                            
        